@inherits LayoutComponentBase


<PageTitle>Pokemon__App</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/hesolutions/" target="_blank">LinkedIn</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
